{% extends 'editar.html' %}

{% block dataedit %} 

<div class="">
    <form class="w-100" action="/editarplataformadata/{{id}}" method="POST">{% csrf_token %}


        <label for="">Etsy</label>
        <input type="text" name="etsy" id="">

        <label for="">Wallapop</label>
        <input type="text" name="wallapop" id="">

        <label for="">Ebay</label>
        <input type="text" name="ebay" id="">

        <label for="">Joom</label>
        <input type="text" name="joom" id="">

        <label for="">Amazon</label>
        <input type="text" name="amazon" id="">

    
</div>
<div class="d-flex mt-2">

<div class=" w-100">
    <input type="submit" class="btn btn-primary w-100" value="Añadir">
</div>
</div>
</form>


{% endblock %}